@font-face {
  font-family: "Neue Helvetica";
  src: url("../fonts/helvetica_neue_lt_45_light-webfont.woff");
  /*public/assets/fonts/helvetica_neue_lt_45_light-webfont.woff*/
  font-style: normal;
}

@font-face {
  font-family: "Recoleta Alt";
  src: url("../fonts/recoletaalt-medium-webfont.woff");
  /*public/assets/fonts/helvetica_neue_lt_45_light-webfont.woff*/
  font-style: normal;
}

@font-face {
  font-family: "Nature Spirit";
  src: url("../fonts/naturespiritrough-webfont.woff");
  /*public/assets/fonts/helvetica_neue_lt_45_light-webfont.woff*/
  font-style: normal;
}

h1,
h3,
h4,
h5,
h6,
p,
label,
input,
button {
  font-family: "Neue Helvetica";
  color: black;
}

.or_text {
  font-family: "Recoleta Alt";
  font-size: clamp(1.57rem, 1.389vw, 1.389vw);
  color: white;
  position: relative;
  top: -2.5348542458809vh;
}

.interact_word {
  font-family: "Recoleta Alt";
  color: rgb(202, 152, 69);

  animation: changeColor 37s infinite;
}

@keyframes changeColor {
  0% {
    color: rgb(202, 152, 69);
  }

  10% {
    color: rgb(202, 152, 69);
  }

  20% {
    color: rgb(202, 152, 69);
  }

  30% {
    color: #537da4;
  }

  40% {
    color: #537da4;
  }

  50% {
    color: #b44d36;
  }

  60% {
    color: #b44d36;
  }

  70% {
    color: #7da48e;
  }

  80% {
    color: #7da48e;
  }

  100% {
    color: rgb(202, 152, 69);
  }
}

.home_page_text {
  font-family: "Recoleta Alt";
  font-size: clamp(1.06rem, 1.597vw, 1.85vw);
  color: white;
}

.home_page_title_text {
  font-family: "Nature Spirit";
  font-size: clamp(5.45rem, 8.542vw, 8.8vw);
  color: white;
  font-weight: 900;
  position: relative;
  top: 3.2953105196451vh;
}

.homepage_signup_login_text {
  font-family: "Recoleta Alt";
  font-size: 3.472vw;
  text-decoration: none;
  display: inline-block;
}

.image_size {
  width: 100%;
  height: 38.194vw;
  object-fit: cover;
  object-position: 50% 50%;
}

.no_bullet_point_lis {
  list-style-type: none;
}

.backgroundImage {
  background-image: url("https://blog.society6.com/app/uploads/2019/08/18484148_10869533.jpg");
  background-position: "center";
  background-repeat: "no-repeat";
  background-size: "cover";
  width: 100%;
  height: 100vh;
}

.backgroundImageForLogin {
  background-image: url("https://photos.smugmug.com/photos/i-5bGGXHq/0/X4/i-5bGGXHq-X4.jpg");
  background-position: left 94%;
  background-repeat: "no-repeat";
  background-size: 72.5%;
  width: 139.5%;
  height: 100vh;
}

.backgroundImageForSignup {
  background-image: url("https://photos.smugmug.com/photos/i-9dK7PhM/0/X4/i-9dK7PhM-X4.jpg");
  background-position: "center";
  background-size: 77%;
  width: 132%;
  height: 100vh;
  margin: auto;
}

.fitImage {
  max-width: 98.5%;
  max-height: 98.5%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.deleteButton {
  position: relative;
  cursor: pointer;
  z-index: 3;
}

.deleteButton:hover {
  color: rgb(104, 104, 104);
}

.usernameAndCaption {
  position: relative;
  right: 14.583vw;
}

.logoutButton {
  float: right;
  margin-right: 1.389vw;
  margin-top: 0.833vw;
  cursor: pointer;
}

.logoutButton:hover {
  color: rgb(104, 104, 104);
}

.mainPageTitleText {
  font-family: "Nature Spirit";
  font-size: clamp(1.02rem, 2.292vw, 3.3vw);
  color: black;
  font-weight: 300;
  position: relative;
  top: 1.2674271229404vh;
  right: 33.681vw;
}

.textForComments {
  font-family: "Neue Helvetica";
  font-size: clamp(0.84rem, 1.111vw, 1.4vw);
  font-weight: 500;
  border: none;
  background: none;
}

.textForPosts {
  font-family: "Neue Helvetica";
  font-weight: 500;
  position: relative;
  top: 1.4vh;
  left: 41%;
  text-align: left;
  /* word-wrap: normal; */
}

.textForWelcome {
  position: relative;
  font-family: "Neue Helvetica";
  font-size: clamp(0.91rem, 1.25vw, 1.5vw);
  font-weight: 500;
  float: left;
  top: 1.85vh;
}

.commentInput {
  font-family: "Neue Helvetica";
  font-size: clamp(0.93rem, 1.007vw, 1.3vw);
  font-weight: 800;
  letter-spacing: 0.017vw;
  text-align: left;
  border: none;
  margin-left: -39%;
}

.commentInput:focus {
  outline: none;
}

.commentInput::placeholder {
  color: #868686;
}

.heavierWeightNeueHelvetica {
  font-family: "Neue Helvetica";
  font-weight: 700;
  font-size: clamp(1.28rem, 1.25vw, 1.5vw);
}

.deleteCommentButton {
  position: relative;
  bottom: 16px;
  left: 18.8vh;
  cursor: pointer;
}

.deleteCommentButton:hover {
  color: rgb(104, 104, 104);
}

.wordWrap {
  word-wrap: break-word;
  width: 500px;
  margin: auto;
  position: relative;
  left: -22px;
}

.styledLoginLink {
  color: white;
  font-family: "Recoleta Alt";
  font-size: 17px;
  text-decoration: none;
  position: absolute;
  left: 37%;
  bottom: 6%;
}

.styledLoginLink:hover {
  color: white;
  font-family: "Recoleta Alt";
  text-decoration: underline;
}

.styledSignupLink {
  color: white;
  font-family: "Recoleta Alt";
  font-size: 17px;
  text-decoration: none;
  position: absolute;
  left: 37%;
  bottom: 6%;
}

.styledSignupLink:hover {
  color: white;
  font-family: "Recoleta Alt";
  text-decoration: underline;
}

.loginAndSignupInputs {
  margin-bottom: 5px;
  /* border-width: 1px; */
  /* border-radius: 2.5px; */
  width: 215px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 340px;
  height: 260px;
  padding: 80px 40px;
  /* background: rgba(74, 74, 75, 0.493); */
  background: rgba(0, 0, 0, 0.35);
  /* background: rgba(9, 44, 2, 0.39); */

  backdrop-filter: blur(4px);
  border-radius: 1.5px;
}

.signupForm {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 340px;
  height: 260px;
  padding: 80px 40px;
  /* background: rgba(74, 74, 75, 0.493); */
  background: rgba(0, 0, 0, 0.35);
  /* background: rgba(9, 44, 2, 0.39); */

  backdrop-filter: blur(2.5px);
  border-radius: 1.5px;
}

.loginForm input[type="text"],
.loginForm input[type="password"],
.signupForm input[type="name"],
.signupForm input[type="text"],
.signupForm input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

.loginForm input::placeholder,
.signupForm input::placeholder {
  color: rgb(232, 232, 232);
}

.loginForm input[type="submit"] {
  height: 45px;
  color: #fff;
  font-size: 32px;
  font-family: "Recoleta Alt";
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 15%;
}

.signupForm input[type="submit"] {
  height: 45px;
  color: #fff;
  font-size: 32px;
  font-family: "Recoleta Alt";
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 8%;
}

.loginForm input[type="submit"]:hover,
.signupForm input[type="submit"]:hover {
  text-decoration: underline;
}

.loginFormPlaceholder {
  color: rgb(220, 220, 220);
}

.signupHr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  position: relative;
  top: 5px;
  padding: 0;
}

.loginHr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  position: relative;
  bottom: -10px;
  padding: 0;
}

.likeButton {
  margin-right: 63.5%;
  position: relative;
  top: 14px;
  cursor: pointer;
}

.unlikeButton {
  margin-right: 63.5%;
  position: relative;
  top: 14px;
  cursor: pointer;
}

.navbarHr {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  border-top: none;
  border-bottom: 1px solid #d1d1d1;
}

h2.greeting {
  margin-top: 0px;
}

.Post_ul {
  width: 50%;
  border: 1px solid #d1d1d1;
  border-radius: 1.5px;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 28px;
  padding-left: 0px;
  padding-top: 1%;
  height: auto;
  max-height: 1380px;
  overflow: auto;
  overflow-x: hidden;
}

.likesAmount {
  font-weight: 600;
  margin-left: clamp(-62%, -60%, -60%);
  /* margin-left: -60%; */
  margin-top: 3.3%;
}

.greyBackground {
  background-color: #fafafa;
}

.postCommentLabel {
  color: #0095f6;
  font-family: "Neue Helvetica";
  font-size: clamp(1.05rem, 0.8vw, 1.1vw);
  font-weight: 900;
  letter-spacing: 0.25px;
  cursor: pointer;
}

.postButtonLocation {
  position: relative;
  right: 8px;
}

.postInputForm {
  border: 1px solid #d1d1d1;
  padding-top: 1.3%;
  padding-bottom: 1.3%;
  border-radius: 1.5px;
  background: white;
  width: 884px;
  margin: 0 auto;
}

.uploadPhotoIcon {
  position: relative;
  top: 4px;
}

.captionIcon {
  position: relative;
  top: 8px;
  right: 9px;
}

.inputForCaption {
  border: 1px solid #d1d1d1;
  background: #f8f8f8;
  border-radius: 4.5px;
  height: 20px;
  font-size: 15px;
  position: relative;
  top: 0px;
}

.inputForCaption:focus {
  outline: none;
}

.inputForCaption::placeholder {
  color: #7b7b7b;
}

.createPostButton {
  height: 40px;
  width: 146px;
  color: rgb(62, 149, 239);
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #cde4fa;
  border-radius: 20px;
  cursor: pointer;
  background: #f8f8f8;
  background: -webkit-linear-gradient(
    left,
    rgb(80, 107, 215),
    rgb(184, 84, 172)
  );
  background: -o-linear-gradient(right, rgb(62, 149, 239), rgb(184, 84, 172));
  background: -moz-linear-gradient(right, rgb(62, 149, 239), rgb(184, 84, 172));
  background: linear-gradient(to right, rgb(62, 149, 239), rgb(184, 84, 172));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 31px;
  transition: all 0.35s ease;
}

.createPostButton:hover {
  background: #e9e9e9;
  border: 2px solid #eacde6;
  background: -webkit-linear-gradient(
    left,
    rgb(80, 107, 215),
    rgb(184, 84, 172)
  );
  background: -o-linear-gradient(right, rgb(184, 84, 172), rgb(232, 137, 85));
  background: -moz-linear-gradient(right, rgb(184, 84, 172), rgb(232, 137, 85));
  background: linear-gradient(to right, rgb(184, 84, 172), rgb(232, 137, 85));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.createPostIcon {
  position: relative;
  top: 3.5px;
  left: -4px;
  transition: all 0.12s ease;
}

.createPostButton:hover .createPostIcon {
  position: relative;
  color: rgb(232, 137, 85);
  top: 3.5px;
  left: -4px;
}

.commentsFont {
  font-family: "Neue Helvetica";
  font-weight: 500;
  text-decoration: none;
  color: #868686;
  font-weight: bold;
}

.searchByUsername {
  position: absolute;
  left: 43%;
  top: 11px;
  height: 23px;
  width: 202px;
  background-color: #fafafa;
  text-align: center;
  border: 1px solid #c5c5c5;
  border-radius: 2.7px;
}

.searchByUsername::placeholder {
  color: #6c6c6c;
}

.searchByUsername:focus {
  outline: none;
}

.searchByUsernameSmallScreens {
  display: none;
  position: absolute;
  left: 48.1%;
  top: 8px;
  height: 21.5px;
  width: 139px;
  background-color: #fafafa;
  text-align: center;
  border: 1px solid #c5c5c5;
  border-radius: 2.7px;
}

.searchByUsernameSmallScreens::placeholder {
  color: #6c6c6c;
}

.searchByUsernameSmallScreens::placeholder {
  outline: none;
}

input.searchByUsernameSmallScreens {
  padding-left: 11px;
  font-size: 14.5px;
}

.searchIcon {
  position: absolute;
  left: 43.7%;
  top: 2.3%;
  z-index: 1;
  color: #848484;
}

input[type="file"]::file-selector-button {
  background: #0095f6;
  border: 0 none;
  padding: 5px 8.5px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.commentForm {
  position: relative;
  bottom: 10.3vh;
  margin-left: clamp(62px, 3vw, 3vw);
}

.commentsContainer {
  position: relative;
  top: -8.8vh;
  left: 2.7%;
}

@media only screen and (max-width: 480px) {
  .or_text {
    font-size: 5.7vw;
  }

  .Post_ul {
    position: relative;
    width: 105%;
    right: 8.8%;
    text-align: center;
  }

  .fitImage {
    max-width: 95%;
    max-height: 95%;
  }

  .postInputForm {
    width: 62.5%;
  }

  .usernameAndCaption {
    right: 27.583vw;
  }

  .commentForm {
    left: 19%;
  }

  .post {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .deleteButton {
    top: 2.4vh;
  }

  .likesAmount {
    font-size: 17px;
  }

  .commentsContainer {
    top: -7.3vh;
  }

  .searchIcon {
    display: none;
  }

  .mainPageTitleText {
    right: 30.3vw;
  }

  .textForWelcome {
    margin-top: -0.8%;
  }

  .logoutButton {
    float: right;
    margin-right: 1.389vw;
    margin-top: 1.65vw;
    cursor: pointer;
  }

  .uploadPhotoLabel {
    display: none;
  }

  .captionLabel {
    display: none;
  }

  .searchByUsername {
    display: none;
  }

  .searchByUsernameSmallScreens {
    display: inline-block;
  }
}

/* @media only screen and (max-height: 595) {
  .searchIcon {
    top: 3.08%;
  }
} */

@media only screen and (min-width: 480) and (max-width: 804) {
  .Post_ul {
    position: relative;
    width: 85%;
    right: 8.8%;
    text-align: center;
  }

  .postInputForm {
    width: 62.5%;
  }

  .commentForm {
    position: relative;
    bottom: 10.5vh;
    left: 18%;
  }

  .wordWrap {
    left: 32px;
  }

  .or_text {
    font-size: 4.1vw;
  }

  .backgroundImageForLogin {
    background-image: url("https://photos.smugmug.com/photos/i-5bGGXHq/0/X4/i-5bGGXHq-X4.jpg");
    background-position: left 94%;
    background-repeat: "no-repeat";
    background-size: 98.5% !important;
    width: 215% !important;
    height: 100vh;
  }
}

/* @media only screen and (min-width: 826) and (max-width: 1048) {
  .backgroundImageForLogin {
    background-image: url("https://photos.smugmug.com/photos/i-5bGGXHq/0/X4/i-5bGGXHq-X4.jpg");
    background-position: left 94%;
    background-repeat: "no-repeat";
    background-size: 92% !important;
    width: 139.5% !important;
    height: 100vh;
  }
} */

@media only screen and (max-width: 932) {
  .postInputForm {
    width: 62.5%;
  }
}

@media only screen and (max-width: 1195) {
  .usernameAndCaption {
    right: 14.883vw;
  }

  .deleteButton {
    bottom: 20.7vh;
  }

  .wordWrap {
    left: 2px;
  }
}

/* @media only screen and (max-width: 1265px) {
} */

/* .uploadPostSection {
  background: white;
  width: 300px;
  height: 100px;
  border-radius: 2px;
} */
